:org.apache.felix.configadmin.revision:=L"2"
alias=""
datasource.id="datasource100"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.GridMeter.Acting.632e4931-006d-4252-9b55-5bf9a680d63d))(|(id\=datasource100)))"
enabled=B"true"
id="meter102"
service.factoryPid="Simulator.GridMeter.Acting"
service.pid="Simulator.GridMeter.Acting.632e4931-006d-4252-9b55-5bf9a680d63d"
