:org.apache.felix.configadmin.revision:=L"2"
alias=""
datasource.id="datasource100"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.GridMeter.Acting.bd7e1667-ee90-4e73-b973-1aa9a54f8cdc))(|(id\=datasource100)))"
enabled=B"true"
id="meter100"
service.factoryPid="Simulator.GridMeter.Acting"
service.pid="Simulator.GridMeter.Acting.bd7e1667-ee90-4e73-b973-1aa9a54f8cdc"
