:org.apache.felix.configadmin.revision:=L"2"
alias="Modbus\ TCP\ Master"
enabled=B"true"
id="modbus0"
invalidateElementsAfterReadErrors=I"1"
ip="localhost"
logVerbosity="DEBUG_LOG"
port=I"5020"
service.factoryPid="Bridge.Modbus.Tcp"
service.pid="Bridge.Modbus.Tcp.e42e3998-4ce2-4c36-b85c-9d52e3881302"
