:org.apache.felix.configadmin.revision:=L"3"
Component.target="(&(!(service.pid\=Controller.Api.ModbusTcp.ReadWrite.a2aaebd5-c2ff-4472-9ec4-af96b2971030))(|(id\=_sum)))"
alias=""
apiTimeout=I"60"
component.ids=[ \
  "_sum", \
  ]
enabled=B"true"
id="ctrlApiModbusTcp12"
maxConcurrentConnections=I"5"
port=I"5020"
service.factoryPid="Controller.Api.ModbusTcp.ReadWrite"
service.pid="Controller.Api.ModbusTcp.ReadWrite.a2aaebd5-c2ff-4472-9ec4-af96b2971030"
