:org.apache.felix.configadmin.revision:=L"5"
Modbus.target="(&(enabled\=true)(!(service.pid\=Meter.PhoenixContact.2c26b3e1-6e84-4bc3-ab6e-8def66d2438b))(|(id\=modbus0)))"
alias=""
enabled=B"true"
id="meter101"
invert=B"true"
modbus.id="modbus0"
modbusUnitId=I"1"
service.factoryPid="Meter.PhoenixContact"
service.pid="Meter.PhoenixContact.2c26b3e1-6e84-4bc3-ab6e-8def66d2438b"
type="CONSUMPTION_NOT_METERED"
