:org.apache.felix.configadmin.revision:=L"2"
alias=""
apiKey="0ReRhMO3zkhjfHwzcyNpsbG4VKfTaz4xAi7_z_wjBLm0yim2SfSYxAux2OO8qBKQPJF5EhsWFjEJJezAmY_-pQ\=\="
bucket="data-2"
enabled=B"true"
id="influx0"
isReadOnly=B"false"
maxQueueSize=I"50000"
measurement="data"
noOfCycles=I"1"
org="my-org"
queryLanguage="INFLUX_QL"
service.factoryPid="Timedata.InfluxDB"
service.pid="Timedata.InfluxDB.294aa807-410d-41c4-aa4b-00a9eec80d03"
url="http://poc-openems.ssingularity.in:8086"
