:org.apache.felix.configadmin.revision:=L"12"
alias=""
apiKey="R_XLHKWV3X0svy_E4cG2CsbgF_IUJ1jISKs1Dm4V1lNq9WkhNWOHwDCgmVfxc_ovCUkTBdXX4MikMSuuWcA92A\=\="
bucket="data-2"
enabled=B"true"
id="influx0"
isReadOnly=B"false"
maxQueueSize=I"5000"
measurement="data"
noOfCycles=I"1"
org="my-org"
queryLanguage="INFLUX_QL"
service.factoryPid="Timedata.InfluxDB"
service.pid="Timedata.InfluxDB.2ed0e5d7-c953-4f9c-9d2f-d37035e63568"
url="http://openems-influxdb:8086"
