:org.apache.felix.configadmin.revision:=L"4"
Modbus.target="(&(enabled\=true)(!(service.pid\=Meter.Simulated.1161f935-c26e-4707-919e-798d5b95a773))(|(id\=modbus0)))"
alias=""
enabled=B"true"
id="meter8"
modbus.id="modbus0"
modbusUnitId=I"1001"
service.factoryPid="Meter.Simulated"
service.pid="Meter.Simulated.1161f935-c26e-4707-919e-798d5b95a773"
type="CONSUMPTION_METERED"
