:org.apache.felix.configadmin.revision:=L"4"
Modbus.target="(&(enabled\=true)(!(service.pid\=Meter.Simulated.8b860660-7b2c-42cc-a8c4-5e829a3668fc))(|(id\=modbus0)))"
alias=""
enabled=B"true"
id="meter6"
modbus.id="modbus0"
modbusUnitId=I"1"
service.factoryPid="Meter.Simulated"
service.pid="Meter.Simulated.8b860660-7b2c-42cc-a8c4-5e829a3668fc"
type="PRODUCTION"
