:org.apache.felix.configadmin.revision:=L"3"
alias=""
enabled=B"true"
factor=F"1176256512"
format="ENGLISH"
id="datasource100"
service.factoryPid="Simulator.Datasource.CSV.Predefined"
service.pid="Simulator.Datasource.CSV.Predefined.fe852af0-f59c-48a6-93dd-2a3addc42e29"
source="ZERO"
timeDelta=I"-1"
