:org.apache.felix.configadmin.revision:=L"1"
alias=""
capacity=I"10000"
enabled=B"true"
gridMode="ON_GRID"
id="ess100"
initialSoc=I"50"
maxApparentPower=I"10000"
service.factoryPid="Simulator.EssSymmetric.Reacting"
service.pid="Simulator.EssSymmetric.Reacting.ced240fc-6cfe-4267-a547-fe961bdbfbe2"
