:org.apache.felix.configadmin.revision:=L"6"
alias=""
enabled=B"false"
ess.id="ess0"
ess.target="(&(enabled\=true)(!(service.pid\=Controller.Symmetric.Balancing.3f64c88a-2387-49ea-9d9d-4905baea2745))(|(id\=ess0)))"
id="ctrlBalancing101"
meter.id="meter101"
meter.target="(&(enabled\=true)(!(service.pid\=Controller.Symmetric.Balancing.3f64c88a-2387-49ea-9d9d-4905baea2745))(|(id\=meter101)))"
service.factoryPid="Controller.Symmetric.Balancing"
service.pid="Controller.Symmetric.Balancing.3f64c88a-2387-49ea-9d9d-4905baea2745"
targetGridSetpoint=I"1"
