:org.apache.felix.configadmin.revision:=L"4"
alias=""
enabled=B"true"
ess.id="ess0"
ess.target="(&(enabled\=true)(!(service.pid\=Controller.Symmetric.Balancing.5f3088b7-f0ac-48f0-877e-eb89abb34436))(|(id\=ess0)))"
id="ctrlBalancing0"
meter.id="meter0"
meter.target="(&(enabled\=true)(!(service.pid\=Controller.Symmetric.Balancing.5f3088b7-f0ac-48f0-877e-eb89abb34436))(|(id\=meter0)))"
service.factoryPid="Controller.Symmetric.Balancing"
service.pid="Controller.Symmetric.Balancing.5f3088b7-f0ac-48f0-877e-eb89abb34436"
targetGridSetpoint=I"0"
