:org.apache.felix.configadmin.revision:=L"5"
alias=""
enabled=B"true"
ess.id="ess102"
ess.target="(&(enabled\=true)(!(service.pid\=Controller.Symmetric.Balancing.7ad2492a-d7b0-4cb4-91dc-80a9e5d5ab3b))(|(id\=ess102)))"
id="ctrlBalancing102"
meter.id="meter102"
meter.target="(&(enabled\=true)(!(service.pid\=Controller.Symmetric.Balancing.7ad2492a-d7b0-4cb4-91dc-80a9e5d5ab3b))(|(id\=meter102)))"
service.factoryPid="Controller.Symmetric.Balancing"
service.pid="Controller.Symmetric.Balancing.7ad2492a-d7b0-4cb4-91dc-80a9e5d5ab3b"
targetGridSetpoint=I"100"
