:org.apache.felix.configadmin.revision:=L"3"
alias=""
enabled=B"true"
ess.id="ess100"
ess.target="(&(enabled\=true)(!(service.pid\=Controller.Symmetric.Balancing.da6d500f-0ea8-48f6-8a43-75fe29f8a6ae))(|(id\=ess100)))"
id="ctrlBalancing100"
meter.id="meter100"
meter.target="(&(enabled\=true)(!(service.pid\=Controller.Symmetric.Balancing.da6d500f-0ea8-48f6-8a43-75fe29f8a6ae))(|(id\=meter100)))"
service.factoryPid="Controller.Symmetric.Balancing"
service.pid="Controller.Symmetric.Balancing.da6d500f-0ea8-48f6-8a43-75fe29f8a6ae"
targetGridSetpoint=I"0"
