:org.apache.felix.configadmin.revision:=L"12"
aggregationPriority="HIGH"
alias=""
apiTimeout=I"60"
apikey="edge0"
debug=B"false"
debugMode=B"false"
enabled=B"true"
id="ctrlBackend0"
noOfCycles=I"10"
persistencePriority="HIGH"
proxyAddress=""
proxyPort=""
proxyType="HTTP"
resendPriority="LOW"
service.factoryPid="Controller.Api.Backend"
service.pid="Controller.Api.Backend.28628d01-a978-4328-9a8f-b9c7751ed2d2"
uri="ws://192.168.0.126:8081"
