:org.apache.felix.configadmin.revision:=L"8"
_lastChangeAt="2024-07-02T14:31:03"
_lastChangeBy="Internal:\ ExtremeEverValues"
alias="Core.Sum"
consumptionMaxActivePower=I"3470"
essMaxDischargePower=I"1695"
essMinDischargePower=I"0"
gridMaxActivePower=I"1706"
gridMinActivePower=I"-344"
id="_sum"
ignoreStateComponents=[ \
  "", \
  ]
productionMaxActivePower=I"1706"
service.bundleLocation="?"
service.pid="Core.Sum"
