:org.apache.felix.configadmin.revision:=L"3"
_lastChangeAt="2024-05-10T10:21:28"
_lastChangeBy="Internal:\ ExtremeEverValues"
alias="Core.Sum"
consumptionMaxActivePower=I"33296"
essMaxDischargePower=I"16364"
essMinDischargePower=I"-20000"
gridMaxActivePower=I"35880"
gridMinActivePower=I"-48712"
id="_sum"
productionMaxActivePower=I"5000"
service.bundleLocation="?"
service.pid="Core.Sum"
