:org.apache.felix.configadmin.revision:=L"1"
apiKey="0ReRhMO3zkhjfHwzcyNpsbG4VKfTaz4xAi7_z_wjBLm0yim2SfSYxAux2OO8qBKQPJF5EhsWFjEJJezAmY_-pQ\=\="
bucket="my-bucket"
endDate=""
id="timedata0"
isReadOnly=B"false"
maxQueueSize=I"5000"
measurement="data"
org="my-org"
poolSize=I"10"
queryLanguage="INFLUX_QL"
service.factoryPid="Timedata.InfluxDB"
service.pid="Timedata.InfluxDB.af9ff0cf-5f00-4c78-9c8d-54d8cd2ccee2"
startDate=""
url="http://poc-openems.ssingularity.in:8086"
