:org.apache.felix.configadmin.revision:=L"2"
alias=""
capacity=I"10000"
datasource.id="datasource0"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.EssAsymmetric.Reacting.0fb45e15-a3e0-46d3-aa3a-7fdddebeb900))(|(id\=datasource0)))"
enabled=B"true"
gridMode="ON_GRID"
id="ess102"
initialSoc=I"50"
maxApparentPower=I"10000"
service.factoryPid="Simulator.EssAsymmetric.Reacting"
service.pid="Simulator.EssAsymmetric.Reacting.0fb45e15-a3e0-46d3-aa3a-7fdddebeb900"
